* {
    box-sizing: border-box; 
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
  }
  .col-1 {
    background: #d4af37;
    flex: 1;
  }
  .col-2 {
    display: flex;
    flex-direction: column;
    flex: 5;
    background-color: #e0cc88;
  }
  .content {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  .content > article {
    flex: 4;
    min-height: 60vh;
  }
  header, footer {
    height: 20vh;
  }
  header, footer, article, nav {
    padding: 1em;
  }
  .box {
    background: radial-gradient(circle, #e0cc88, #d4af37);
    font-size: 5vh;
    text-align:center;
    text-shadow:1px 2px 10px black;
    color: silver;
  }
  .footbox {
    background: linear-gradient(to bottom, #e0cc88, #d4af37);
    text-align:center;
  }
  .card {
    flex: 0 0 10px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
  }
  .card img {
    max-width:100%;
  }
  .card .text {
    padding: 0 20px 20px;
  }
  .card .text > button {
    background: #555652;
    border:0;
    color:silver;
    padding: 10px;
    width: 100%;
  }
  .main-nav {
    display:flex;
    background:#d4af37;
    color:#555652;
    border-radius: 3px;
    padding:1em;
    font-family:sans-serif;
  }
  .main-nav > ul {
    list-style-type: none;
    padding:0;
    margin:0;
    display:flex;
    flex:3;
  }
  .main-nav > li {
    margin-right: 1em;
  }
  .main-nav > form {
    display: flex;
    justify-content:flex-end;
    flex:1;
  }
  .main-nav input {
    flex:1;
  }
  .main-nav button {
    background:white;
    border:0;
    border-radius: 1em;
    color:#555652;
    padding: 0 1em;
    margin-left: .3em;
  }
  @media screen and (max-width:575px){
    .main-nav{
      flex-direction: column;
    }
    .main-nav ul {
      flex-direction: row;
      margin-bottom: 1em;
    }
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding:12px 16px;
    z-index:1;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .details {
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
  }
  .cover-art {
    margin:25px;
    height: 150px;
    width: 150px;
    background-image: URL("C:\Users\kenny\OneDrive\Desktop\CobsMusic480\signed-sealed.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15%;
  }
  .now-playing {
    font-size: 1rem;
  }
  .song-name {
    font-size: 1rem;
  }
  .song-artist {
    font-size: 1.5rem;
  }